name: Check upstream for updates
on:
  repository_dispatch:
    types: [check-upstream-for-updates]
  schedule:
  - cron:  '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set workspace ownership to UID 1000
      run: sudo chown -R 1000 .
    - name: Check upstream for updates and open pull requests as needed
      uses: mutantmonkey/geschenkerbauer/actions/upstream-update@7428bf4af13f2c71734b47b71eaf3ef610d99ed9
      with:
        author_name: mutantmonkey
        author_email: 67266+mutantmonkey@users.noreply.github.com
        github_token: ${{ secrets.GITHUB_TOKEN }}
        pypi_packages: |
          solo-python: solo-python
          python-plexapi: PlexAPI
    - name: Restore workspace ownership to correct UID
      run: sudo chown -R $(id -u) .
